#profile-title{
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#profile-content{
    text-align: left;

}
#mod-label{
    text-size 24px;
}
#content-holder{

}
.profile-stats{
    margin: auto;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align: center;
    font-size: 26px;
}
.profile-header{
    font-size: 32px;
}
#badge-holder img{
    padding-left: 5%;
    padding-top: 2%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .25;
}
#badge-holder{
    padding-top: 5%;
    padding-bottom: 5%;
}