#profile-title{
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#profile-content{
    text-align: left;

}
#mod-label{
    text-size 24px;
}
#content-holder{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}