.center-text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.message{
    padding-left: 7%;
    padding-right: 7%;
}
.question-pad{
    padding-left: 12%;
    padding-right: 12%;
}
