.center-text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.message{
    padding-left: 7%;
    padding-right: 7%;
}
.question-pad{
    padding-left: 20%;
    padding-right: 20%;
}
.l-align{
    text-align: left;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#carousel-caption-title {
    top: 0;
    padding-top: 5%;
    bottom: auto;
}
#caro-wrapper{
    min-height: 100%;
    margin: 0;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#caro-wrapper img {
    -webkit-filter: blur(13px);
    filter: blur(13px);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
    text-align: center;
}
.graph-holder{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#top-10-score-wrapper{
    padding-bottom: 5%;
}
#most-accurate-wrapper{
    padding-bottom: 5%;
}