.center-text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.message{
    padding-left: 7%;
    padding-right: 7%;
}
.question-pad{
    padding-left: 20%;
    padding-right: 20%;
}
.l-align{
    text-align: left;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#carousel-example-generic{
    height: 100%;
    width: 100%;
}