{% extends "layout.html" %}
{% block title %} Practice Computer Science {% endblock %}
{% block head %}
<link rel="stylesheet" href="static/dashboard.css">
<script src="static/Chart.js"></script>
<script src="static/analytics.js"></script>
{% endblock %}
{% block content %}
<body>
<h1>Admin Panel:</h1>

<h2>Current User: {{ current_user.username }}</h2>
<br>
<br>
<h4>Users on Website: {{ database_stats[0] }} </h4>
<h4>Questions on Website: {{ database_stats[1] }} </h4>
<h4>Total Questions Submitted on Website: {{ database_stats[2] }} </h4>
<div class="message">
    <h3>Submit New question</h3>

    <form method="post" action="/admin">
        Question Header:<br>
        <textarea class="form-control" rows="5" name="questionheader"></textarea>
        <br>
        Question Text:<br>
        <textarea class="form-control" rows="5" name="questiontext"></textarea>
        <br>
        Answer Choices: (Separated by SEP)<br>
        <textarea class="form-control" rows="5" name="answerchoices"></textarea>
        <br>
        Correct Answer (index int):<br>
        <input type="text" class="form-control" name="correctanswer">
        <br>
        Explanation:
        <textarea class="form-control" rows="5" name="explanation"></textarea>
        <br>

        <br>
        <input type="submit" value="Add New Question">
        <br>
        Question ID:
        <input type="text" class="form-control" name="questionid"
               placeholder="Use this if you would like to change this question's information">
    </form>
</div>
</body>
{% endblock %}