{% extends "layout.html" %}
{% block title %} Admin Panel {% endblock %}
{% block head %}
<link rel="stylesheet" href="static/dashboard.css">
<script src="static/Chart.js"></script>
<script src="static/analytics.js"></script>
{% endblock %}
{% block content %}
<body>
<div class="center-text">
    <h1>Admin Panel</h1>
</div>
<h4>Current User: <i>{{ current_user.username }}</i></h4>
<br>
<br>
<table id="website-statistics" class="table table-bordered">
    <tr class="info">
        <th>
            Users on Website
        </th>
        <th>
            Questions on Website
        </th>
        <th>Total Questions answered</th>
    </tr>
    <tr>
        <td>{{ database_stats[0] }}</td>
        <td><strong>Total:</strong> {{ database_stats[1] }}
            <br>
            <strong>Computer Science:</strong> {{ database_stats[2] }}
            <br>
            <strong>Mathematics: </strong> {{ database_stats[3] }}</td>
        <td>
            {{ database_stats[4] }}
        </td>
    </tr>

</table>
<div class="message">
    <h3>Submit New question</h3>

    <form method="post" action="/admin">
        Subject:<br>
        <select name="subject">
            <option value="cs">Computer Science</option>
            <option value="math">Mathematics</option>
        </select>
        <br>
        <br>
        Question Header:<br>
        <textarea class="form-control" rows="5" name="questionheader"></textarea>
        <br>
        Question Text:<br>
        <textarea class="form-control" rows="5" name="questiontext"></textarea>
        <br>
        Answer Choices: (Separated by SEP)<br>
        <textarea class="form-control" rows="5" name="answerchoices"></textarea>
        <br>
        Correct Answer (index int):<br>
        <input type="text" class="form-control" name="correctanswer">
        <br>
        Explanation:
        <textarea class="form-control" rows="5" name="explanation"></textarea>
        <br>

        <br>
        <input type="submit" value="Add New Question">
        <br>
        Question ID:
        <input type="text" class="form-control" name="questionid"
               placeholder="Use this if you would like to change this question's information">
    </form>
</div>
</body>
{% endblock %}