{% extends "layout.html" %}
{% block title %} {{ user.username }}'s Profile{% endblock %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/../static/FeedbackForm/css/reset.css">
<!-- CSS reset -->
<link rel="stylesheet" href="/../static/FeedbackForm/css/style.css">
<!-- Resource style -->
<script src="/../static/FeedbackForm/js/modernizr.js"></script>
<!-- Modernizr -->
<title>Submit Feedback</title>
{% endblock %}
{% block content %}
<form method="post" action="{{ url_for('feedback') }}" class="cd-form floating-labels">
    <fieldset>
        <legend>Submit Feedback</legend>
        <h4><i>Suggestions, bug reports, and other messages are appreciated. If you think a question has a typo, or the
            answer is incorrect, flag the question at the bottom</i></h4>

        <div class="icon">
            <label class="cd-label" for="name">Name</label>
            <input class="user" type="text" name="name" id="name">
        </div>
        <div class="icon">
            <label class="cd-label" for="message">Message</label>
            <textarea class="message" name="message" id="message"></textarea>
        </div>
        <div>
            <input type="submit" value="Send Message">
        </div>
    </fieldset>
</form>

<script src="/../static/FeedbackForm/js/jquery-2.1.1.js"></script>
<script src="/../static/FeedbackForm/js/main.js"></script>
<!-- Resource jQuery -->
{% endblock %}