<!DOCTYPE html>
<html>
<head>
    <title>Practice and Improve UIL Academic Scores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="static/script.js"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70751894-1', 'auto');
  ga('send', 'pageview');









    </script>
</head>

<body>
<!--Errors-->
{% with messages = get_flashed_messages(category_filter=["error"]) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!--Successes -->
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div id="caro-wrapper">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/static/Pictures/brandon.jpg" style="height: 100%;">

                <div id="carousel-caption-title" class="carousel-caption">
                    <h1>Improve UIL Scores fast and easy!</h1>

                    <h3><i>"Fun yet simple"</i></h3>
                </div>
                <div class="carousel-caption">
                    <p>
                        <button type="button" id="login" class="btn btn-primary btn-lg" data-toggle="modal"
                                data-target="#sign-in-modal">
                            Sign In
                        </button>
                    </p>
                    <p>
                        <button type="button" id="signup" class="btn btn-success btn-lg" data-toggle="modal"
                                data-target="#sign-up-modal">
                            Create an Account
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="center-text modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="help-dialog-signin" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Sign Into Account
            </div>
            <div class="modal-body center">
                <form method="post" action="{{ url_for('signin') }}">
                    Username<br>
                    <input type="text" name="uname">
                    <br>
                    Password
                    <br>
                    <input type="password" name="pwd">
                    <br>
                    <input type="submit" value="Sign In">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="center-text modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div id="help-dialog" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Create an Account for Free
            </div>
            <div class="modal-body center">
                <form method="post" action="{{ url_for('signup') }}">
                    Username<br>
                    <input type="text" name="uname">
                    <br>
                    Full Name<br>
                    <input type="text" name="fname">
                    <br>
                    Password
                    <br>
                    <input type="password" name="pwd">
                    <br>
                    <input type="submit" value="Create Account">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-warning center-text" role="alert">This website is currently in development. Please note the
    presence of bugs. Feedback/Suggestions can be submitted <a href="/feedback" class="alert-link">here</a>
    <br>

</div>
</body>

</html>