<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/dashboard.css">
    <script src="/static/Chart.js"></script>
    <script src="/static/analytics.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-70751894-1', 'auto');
  ga('send', 'pageview');


    </script>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navigation-bar">
            <ul id="nav-buttons" class="nav navbar-nav">
                <li id="dashboard" class="">
                    <a class="navbar-brand" href="/dashboard"><span class="glyphicon glyphicon-home"
                                                                    aria-hidden="true"></span>
                        Dashboard</a>
                </li>
                <li id="cs" class="">
                    <a href="/cs">Computer Science</a>
                </li>
                <li id="math">
                    <a href="/math">Math<span class="sr-only"></span></a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="Search" action="/search" method="post">
                <div class="form-group">
                    <input name="uname" type="text" class="form-control" placeholder="Search By Username">
                </div>
                <button type="submit" class="btn btn-default"><span
                        class="glyphicon glyphicon-search"
                        aria-hidden="true"></span></button>
            </form>
            <a class="navbar-brand navbar-right" href="/../logout">Logout</a>
            <a class="navbar-brand navbar-right" href="/user/{{ current_user.username }}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Hello, {{ current_user.username }}!
            </a>
        </div>
    </div>
</nav>
<hr>
<br>

<div id="content">
    <!--Errors-->
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="message center-text">
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!--Successes -->
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="message center-text">
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block head %}

    {% endblock %}

    <!--This is where all the actual html goes-->
    {% block content %}

    {% endblock %}
</div>
</html>