<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">

    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/dashboard.css">
    <script src="/static/Chart.js"></script>
    <script src="/static/analytics.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <script src="googleAnalytics.js">
    </script>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="" id="navigation-bar">
            <ul id="nav-buttons" class="nav navbar-nav">
                <li id="dashboard" class="">
                    <a class="navbar-brand" href="/dashboard"><span class="glyphicon glyphicon-home"
                                                                    aria-hidden="true"></span>
                        Dashboard</a>
                </li>
                <li id="cs" class="">
                    <a href="/cs">Computer Science</a>
                </li>
                <li id="math">
                    <a href="/math">Math<span class="sr-only"></span></a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="Search" action="/search" method="post">
                <div class="form-group">
                    <input name="uname" type="text" class="form-control" placeholder="Search By Username">
                </div>
                <button type="submit" class="btn btn-default"><span
                        class="glyphicon glyphicon-search"
                        aria-hidden="true"></span></button>
            </form>
            <a class="navbar-brand navbar-left" href="/leaderboard">
                <span class="glyphicon glyphicon-king"
                      aria-hidden="true"></span>
                Leaderboard</a>
            <a class="navbar-brand navbar-left" href="/feedback">
                <span class="glyphicon glyphicon-envelope"
                      aria-hidden="true"></span>
                Feedback</a>
            <a class="navbar-brand navbar-right" href="/../logout">Logout</a>
            <a class="navbar-brand navbar-right" href="/user/{{ current_user.username }}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Hello, {{ current_user.username }}!
                {% if is_moderator(current_user) %}
                <span class="label label-primary">Moderator</span>
                {% endif %}
            </a>
            {% if is_moderator(current_user) %}

            <a class="navbar-brand navbar-right" href="/admin"> <span class="glyphicon glyphicon-cog"
                                                                      aria-hidden="true"></span> Control Panel</a>
            {% endif %}
        </div>
    </div>
</nav>
<hr>
<br>

<div id="content">
    <!--Errors-->
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="message center-text">
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!--Successes -->
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="message center-text">
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block head %}

    {% endblock %}

    <!--This is where all the actual html goes-->
    {% block content %}

    {% endblock %}
    <div id="footer">
        Created By: <a href="http://rawells.com">Ryan Wells</a>
    </div>
</div>
</html>