{% extends "layout.html" %}
{% block title %} Leaderboard {% endblock %}
{% block head %}
<link rel="stylesheet" href="static/dashboard.css">
<script src="static/Chart.js"></script>
<script src="static/analytics.js"></script>
<script src="static/leaderboard.js"></script>
{% endblock %}
{% block content %}
<div class="center-text"><h1>Leaderboard</h1></div>
{% for u in top_ten: %}
{{ u.username }}
{{ u.score }}
<br>
{% endfor %}
<script>
    var usernames = [];
    //var dataIn =
</script>
{% endblock %}