{% extends "layout.html" %}
{% block title %} Leaderboard {% endblock %}
{% block head %}
<link rel="stylesheet" href="static/dashboard.css">
<script src="static/Chart.js"></script>
<script src="static/analytics.js"></script>
<script src="static/leaderboard.js"></script>
{% endblock %}
{% block content %}

<div id="top-10-score-wrapper" class="center-text"><h1>Leaderboard</h1>

    <h3>Top 10 Scores</h3>

    <div class="graph-holder">
        <canvas id="top-ten-graph" width="800" height="600"></canvas>
    </div>
    <h6>Top 10 highest scoring users</h6>
</div>

<div id="most-accurate-wrapper" class="center-text">
    <h3>Most Accurate (Coming Soon)</h3>

    <div class="graph-holder">
        <canvas id="most-accurate-graph" width="800" height="600"></canvas>
    </div>
    <h6>Users with the highest accuracy that have answered at least 10 questions</h6>
</div>
<script>
    var usernames = [];
    var dataIn = {{ top_ten|safe }};
    graphDataScore(dataIn[0], dataIn[1]);
    dataIn = {{ accurate| safe }};
    graphDataAccurate(dataIn[0], dataIn[1]);x

</script>
{% endblock %}