{% extends "layout.html" %}
{% block title %} Leaderboard {% endblock %}
{% block head %}
<link rel="stylesheet" href="static/dashboard.css">
<script src="static/Chart.js"></script>
<script src="static/analytics.js"></script>
<script src="static/leaderboard.js"></script>
{% endblock %}
{% block content %}

<div class="center-text"><h1>Leaderboard</h1>
<h3>Top 10 Scores</h3></div>

<div class="graph-holder">
    <canvas id="top-ten-graph" width="800" height="600"></canvas>
</div>
<script>
    var usernames = [];
    var dataIn = {{ top_ten|safe }};
    graphData(dataIn[0], dataIn[1]);

</script>
{% endblock %}