{% extends "layout.html" %}
{% block title %} Practice Math {% endblock %}
{% block head %}
<link rel="stylesheet" href="static/dashboard.css">
<script src="static/Chart.js"></script>
<script src="static/analytics.js"></script>
{% endblock %}
{% block content %}
<div class="well well-lg">
    <div class="center-text">

        <h1>Welcome to Mathematics Quick Practice!</h1>
        <br>
        <h4>You will be asked about topics ranging from Algebra I to Calculus 3</h4>

        <h2>Press begin to start practicing</h2>
        <button type="button" id="begin-math" data-loading-text="Starting..." class="btn btn-primary"
                autocomplete="off">
            <h5> Begin</h5>
        </button>

    </div>


</div>
{% endblock %}