{% extends "layout.html" %}
{% block title %} {{ user.username }}'s Profile{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/profile.css">
{% endblock %}
{% block content %}
{% if user %}
<!-- Actual Profile Logic-->
<div>
    <div class="well well-lg">
        <div id="center-text profile-title">
            {{ user.username }}'s Profile
        </div>
        <div id="profile-content">
            Rank: {{ rank }}<br>
            Score: {{ user.score }}
        </div>
    </div>
</div>
{% else %}
User doesn't exist!
{% endif %}
{% endblock %}