{% extends "layout.html" %}
{% block title %} {{ user.username }}'s Profile{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/profile.css">
<script src="/static/profile.js"></script>
{% endblock %}
{% block content %}
{% if user %}
<!-- Actual Profile Logic-->
<div class="well well-lg">
    <div id="profile-title">
        {{ user.username }}'s Profile
    </div>
    {% if user.username == 'admin' %}
    <div id="mod-label">
                <span class="label label-primary">
                    Moderator
                </span>
    </div>
    {% endif %}

</div>

<div class="profile-stats">
    <div class="profile-header">Stats
    </div>
    <br>
    Rank: <strong>#{{ rank }}</strong><br>
    Score: <strong>{{ user.score }}</strong><br>
    Questions answered: <strong>{{ user.totalattempted }}</strong><br>
</div>
<div class="profile-stats">
    <div class="profile-content profile-header">
        Badges
    </div>
    <div id="badge-holder" class="badge-holder">
        {% for i in range(badgenames|length) %}
        <img class="no-badge" src="/static/Pictures/Badges/{{i}}.png" id="badge{{i}}" data-toggle="tooltip"
             title="{{badgenames[i]}}">
        {% if i in badges %}
        {{ i }} Badge
        <script>$("#badge{{i}}").removeClass("no-badge");</script>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% else %}
User doesn't exist!
{% endif %}
{% endblock %}