{% extends "layout.html" %}
{% block title %} {{ user.username }}'s Profile{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/profile.css">
{% endblock %}
{% block content %}
{% if user %}
<!-- Actual Profile Logic-->
<div>
    <div class="well well-lg">
        <div id="profile-title">
            {{ user.username }}'s Profile
        </div>
        {% if user.username == 'admin' %}
        <div id="mod-label">
                <span class="label label-primary">
                    Moderator
                </span>
        </div>
        {% endif %}

    </div>
    <table width=100% height=100%>
        <tr>
            <td width=50%>
                <div id="content-holder">
                    <div id="profile-content">
                        Rank: {{ rank }}<br>
                        Score: {{ user.score }}<br>
                        Questions answered: {{ user.totalattempted }}
                    </div>
                </div>
            </td>
            <td width=50%>Badges</td>
        </tr>
    </table>

</div>
</div>
{% else %}
User doesn't exist!
{% endif %}
{% endblock %}