{% extends "layout.html" %}
{% block title %} My Dashboard {% endblock %}
{% block head %}
<link rel="stylesheet" href="static/dashboard.css">
<script src="static/Chart.js"></script>
<script src="static/analytics.js"></script>
{% endblock %}
{% block content %}
<div class="jumbotron center-text">

    <h1>Your Dashboard</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div id="analytics">
        <h2>Analytics:</h2>

        <h3>Your Overall Performance</h3>
        <canvas id="correct-incorrect-chart" width="600" height="400"></canvas>
        <script>
            var correct = {{ number_correct|safe }};
            var incorrect = {{ number_attempted|safe }} - correct;
            graphData(correct, incorrect);



        </script>
        <table class="table">
            <tr class="active">
                <td>
                    <strong>Total Questions Answered</strong>
                </td>
                <td>
                    {{ number_attempted }}
                </td>
            </tr>
            <tr class="success">
                <td>
                    <strong>Questions Correct</strong>
                </td>
                <td>
                    {{ number_correct }}
                </td>
            </tr>
            <tr class="danger">
                <td>
                    <strong>Questions Incorrect</strong>
                </td>
                <td>
                    {{ number_attempted - number_correct }}
                </td>
            </tr>
            <tr class="info">
                <td>
                    <strong>Accuracy</strong>
                </td>
                <td>
                    <div id="accuracy-percent">
                        {{ number_correct/number_attempted*100 }}%
                    </div>
                </td>
            </tr>
            <script>
                changeColor({{ number_correct/number_attempted*100 }});

            </script>
        </table>
    </div>
</div>
{% endblock %}