<!DOCTYPE html>
<html>
<head>
    <title>My Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
<div class="jumbotron">
    <h1>Your Dashboard</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <button class="btn-info" action="logout"><a href="/logout">Logout</a></button>
</div>
<div id="users">
    Our Current Users:
    {% for user in users %}
    <br>
    {{ user.username}}
    <br>
    {% endfor %}
</div>
</body>

</html>