<!DOCTYPE html>
<html>
<head>
    <title>UIL Practice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
<div class="jumbotron">
    <h1>Welcome to UIL Practice</h1>

    <p>
        <a class="btn btn-primary btn-lg" href="signup" role="button">Sign Up Now</a>
    </p>
</div>
<div id="users">
    Our Current Users:
    {% for user in users %}
        <br>
        {{ user.username}}
    <br>
    {% endfor %}
</div>
</body>

</html>