{% extends "layout.html" %}
{% block title %}
Search
{% endblock %}
<div id="FoundUsers">
    {% block content %}
    {% if users_found %}
    <div class="alert alert-success center-text" role="alert">Found {{users_found|length}} Users</div>
    <table class="table table-striped">
        <tr>
            <th>
                Username
            </th>
            <th>
                Score
            </th>
        </tr>
        {% for i in users_found %}
        <tr>
            <td>
                {{ i.username }}
            </td>
            <td>
                {{ i.score }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="alert alert-danger" role="alert"><strong>0 </strong>Users found</div>
    {% endif %}
    {% endblock %}
</div>
