{% extends "layout.html" %}
{% block title %}
Search
{% endblock %}
{% block head %}
<link rel="stylesheet" href="static/search.css">
{% endblock %}


{% block content %}
<div id="FoundUsers">
    {% if (users_found) and (users_found.count() > 0) %}
    <div class="alert alert-success center-text" role="alert">Found {{ users_found.count() }} Users</div>
    <table class="table table-striped">
        <tr>
            <th>
                Username
            </th>
            <th>
                Score
            </th>
        </tr>
        {% for i in users_found %}
        <tr>
            <td>
                <a href="/user/{{ i.username }}">
                {{ i.username }}
                </a>
            </td>
            <td>
                {{ i.score }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="alert alert-danger" role="alert"><strong>0 </strong>Users found</div>
    {% endif %}
</div>
{% endblock %}

